@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);


.movieHeader
{
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif; 
    z-index: 3000;
}



.movieBckgrd
{
   

    width: 100%;
    overflow: hidden;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}







.belowHeader{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin-top: 100vh;
}